/* sahilouter */
#sahilouter{
    width: 96%;
    height: 420px;
    border: 1px solid transparent;
    margin: auto;
    display: flex;
}
#sahilfirst{
    width: 30%;
    height: 380px;
    border: 1px solid transparent;
    margin-top: 10px;
}
.sahilfirstbtm{
    width: 96%;
    height: 320px;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.sahilfirstbtm>div{
    width: 99%;
    height: 50px;
    border: 2px solid #f0f3ff;
    display: flex;
    align-items: center;
    border-radius: 4px;
}   
.sahilfirstbtm>div>img{
    width: 32px;
    height: 30px;
    margin-left: 8px;
}
.sahilfirstbtm>div>p{
    font-size: 20px;
}

/* firstLine */

#usecasesline1{
    
        width: 20%;
        height: 365px;
        margin-top: 28px;
        position:absolute;
        left:32%;
        border-left: 1px solid #f0f3ff;
}

/* sahilSecond */

.sahilsecond{
    width: 16%;
    height: 380px;
    border: 1px solid transparent;
    margin-top: 10px;
    margin-left: 45px;
}
.sahilsecond>div{
    width: 90%;
    height: 60px;
    border: 2px solid transparent;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}   
.sahilsecond>div>img{
    width: 32px;
    height: 30px;
    margin-left: 8px;
}
.sahilsecond>div>p{
    font-size: 20px;
    margin-left: 15px;
}

/* secondLine */

#usecasesline2{
    
    width: 20%;
    height: 365px;
    margin-top: 28px;
    position:absolute;
    left:50%;
    border-left: 1px solid #f0f3ff;
}

/* Sahil Third */

#sahilthird{
    width: 49%;
    height: 380px;
    border: 1px solid transparent;
    margin-top: 10px;
    margin-left: 70px;
}
.sahilthirdbtm{
    width: 99%;
    height: 320px;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3, 100);
    gap: 10px;
}
.fourdiv{
    width: 99%;
    height: 90px;
    border: 2px solid transparent;
    border-radius: 4px; 
}
.twodiv{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.twodiv>img{
    width: 35px;
    height: 35px;
    align-items: center;
}
.twodiv>p{
    font-size: 18px;
    padding-left: 12px;
}
.fourdiv>p{
    padding-left: 62px;
    margin-top: -5px;
    color: #70788b;
}

